html {
    scroll-behavior: smooth;
}

#name {
    text-align: center;
    padding-top: 20%;
    padding-bottom: 60%;
    align-self: center;
}

#home {
    align-self: center;
}

.fadein {
    animation: fadein ease 10s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}