html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    overflow: hidden;
}

.home {
    vertical-align: middle;
}

#projects {
    min-height: 100%;
} 

#technologies {
    min-height: 100%;
}
