html {
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

.fadein {
    animation: fadein ease 10s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}